
@model ValidationInMVC.Models.Student
@{
    ViewBag.Title = "ValidationSummary";
}




<table>
    <tr>
        <td colspan="2">
            @Html.ValidationSummary()
        </td>
    </tr>
    <tr>
        <th colspan="2"> Student Details Using Validation Summary</th>
    </tr>
    @using (Html.BeginForm("SubmitDataUsingValidationSummary", "Student", FormMethod.Post))
    {
        <tr>
            <th>FullName:</th>
            <td>
                @Html.TextBoxFor(x => x.FullName)
            </td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>
                @Html.TextBoxFor(x => x.Address)
            </td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>
                @Html.TextBoxFor(x => x.Email)
            </td>
        </tr>
        <tr>
            <th>Mobile:</th>
            <td>
                @Html.TextBoxFor(x => x.Mobile)
            </td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>
                @Html.TextBoxFor(x => x.Age)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" />
            </td>
        </tr>
    }
</table>



